.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid rgb(181, 181, 181);
    border-left: none;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40%;
    height: 60vh;
    padding: 20px;
}

.form input {
    height: 3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 2rem;
    max-width: 100%;
    padding-inline: 5px;
    font-size: 1rem;
    background-color: rgb(231, 231, 231);
}

.form textarea {
    margin-bottom: 2rem;
    border-radius: 5px;
    resize: vertical;
    max-height: 15rem;
    min-height: 3rem;
    padding: 5px 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: rgb(231, 231, 231);
}

.form button {
    margin-right: 0;
    font-size: 1rem;
    border-radius: 30px;
}

.form label {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .form {
        display: none;
    }
}