.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    border-left: none;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
    height: auto;
    padding: 20px;
}

.form input {
    height: 2.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 2rem;
    max-width: 100%;
    padding-inline: 5px;
    font-size: 1rem;
}

.form textarea {
    margin-bottom: 2rem;
    border-radius: 5px;
    resize: vertical;
    max-height: 6rem;
    padding: 5px 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    /* max-width: 100%; */
}

.form button {
    margin-right: 0;
    max-width: 30%;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: all 300ms ease;
}

.form label {
    font-size: 1.5rem;
}