.todoItem {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(69, 69, 69);
    margin-block: 0.5em;
    max-width: 100%;
    min-height: 170px;
    display: flex;
    flex-direction: column;
}

.todoItemBeingEdited {
    padding: 5px;
    border-radius: 5px;
    margin-block: 0.5em;
    max-width: 100%;
    min-height: 170px;
    border: 1px solid lightblue;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.markasdone:hover {
    background-color: lightgreen;
}

.markinprogress:hover {
    background-color: rgb(246, 246, 133);
}

.delete:hover {
    background-color: rgb(240, 158, 158);
}

.edit:hover {
    background-color: lightblue;
}

.titleContainer>h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.titleContainer>p {
    margin-block: 1rem;
}

.activeInput {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px;
    border: none;
    outline: none;
    /* border-radius: 5px; */
    background-color: rgb(20, 20, 20);
    color: white;
}

.activeInputDetails {
    width: 100%;
    min-height: 3rem;
    max-height: 8rem;
    margin-top: 0.5rem;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: vertical;
}

.detailsContainer {
    display: flex;
    margin-bottom: auto;
}

.detailsContainer>p {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
}

.buttonsContainer {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.deletionPromptContainer {
    background-color: lightcoral;
    display: flex;
}