.todoItem {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(69, 69, 69);
    margin-block: 0.5em;
    max-width: 100%;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
}

.todoItemBeingEdited {
    padding: 5px;
    border-radius: 5px;
    margin-block: 0.5em;
    max-width: 100%;
    min-height: 170px;
    border: 1px solid rgb(167, 216, 233);
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.markasdone:hover {
    background-color: lightgreen;
}

.markinprogress:hover {
    background-color: rgb(246, 246, 133);
}

.delete:hover {
    background-color: rgb(240, 158, 158);
}

.edit:hover {
    background-color: lightblue;
}

.titleContainer>h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.titleContainer>p {
    margin-block: 1rem;
}

.activeInput {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

.activeInputDetails {
    width: 100%;
    min-height: 3rem;
    max-height: 8rem;
    margin-top: 0.5rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    resize: vertical;
}

.detailsContainer {
    display: flex;
    margin-bottom: auto;
}

.detailsContainer>p {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
}

.buttonsContainer {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.deletionPromptContainer {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: min-content;
    border-radius: 5px;
    color: black;
    margin-top: 1rem;
    padding-inline: 0.5rem;
    position: relative;
}

.deletionPromptContainer>button {
    width: 20%;
}

.deletionPromptContainer::before {
    content: "";
    position: absolute;
    background-color: lightcoral;
    width: 1rem;
    height: 1rem;
    top: -0.5rem;
    left: 1.2rem;
    transform: rotate(45deg);
}

.todoItemBeingDeleted {
    animation: fallAway 1s forwards;
    transform-origin: top left;
}

@keyframes fallAway {
    0% {
        transform: rotateZ(0deg);
        top: 0;
        opacity: 1;
    }

    25% {
        transform: rotateZ(15deg);
    }

    100% {
        top: 300px;
        transform: rotateZ(5deg);
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .todoItem {
        width: 90vw;
    }

    .deletionPromptContainer::before {
        width: 0.8rem;
        height: 0.8rem;
        top: -0.4rem;
    }
}