.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(225, 231, 232);
    color: white;
    height: 100vh;
    padding-top: 13rem;
    box-sizing: border-box;
}