.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 27, 27);
    color: white;
    height: 100vh;
    /* padding-top: 13rem; */
    box-sizing: border-box;
}

.innerContainer {
    width: 70%;
    /* height: 100vh; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: rgb(220, 144, 144); */
    overflow: hidden;
}

.mobBtnContainer {
    display: flex;
    position: absolute;
    top: 2.5vh;
    right: 0.3em;
}

@media (max-width: 800px) {
    .innerContainer {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .innerContainer {
        width: 100%;
        margin-inline: 1rem;
    }
}

@media (max-width: 600px) {
    .container {
        height: 90vh;
    }

    .innerContainer {
        margin: 0;
        background-color: black;
    }
}